@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --themecolor: 168, 85%, 35%;
    --textcolor: 0, 0%, 13%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }

  ::selection {
    background: hsl(var(--themecolor));
    color: hsl(var(--textcolor));
  }

  @font-face {
    font-family: 'Barlow';
    src: url('/fonts/barlow/Barlow-Black.woff2') format('woff2'),
      url('/fonts/barlow/Barlow-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Barlow';
    src: url('/fonts/barlow/Barlow-BoldItalic.woff2') format('woff2'),
      url('/fonts/barlow/Barlow-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Barlow';
    src: url('/fonts/barlow/Barlow-ExtraBoldItalic.woff2') format('woff2'),
      url('/fonts/barlow/Barlow-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Barlow';
    src: url('/fonts/barlow/Barlow-Bold.woff2') format('woff2'),
      url('/fonts/barlow/Barlow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Barlow';
    src: url('/fonts/barlow/Barlow-BlackItalic.woff2') format('woff2'),
      url('/fonts/barlow/Barlow-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Barlow';
    src: url('/fonts/barlow/Barlow-ExtraBold.woff2') format('woff2'),
      url('/fonts/barlow/Barlow-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Barlow';
    src: url('/fonts/barlow/Barlow-Italic.woff2') format('woff2'),
      url('/fonts/barlow/Barlow-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Barlow';
    src: url('/fonts/barlow/Barlow-Medium.woff2') format('woff2'),
      url('/fonts/barlow/Barlow-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Barlow';
    src: url('/fonts/barlow/Barlow-Light.woff2') format('woff2'),
      url('/fonts/barlow/Barlow-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Barlow';
    src: url('/fonts/barlow/Barlow-ExtraLight.woff2') format('woff2'),
      url('/fonts/barlow/Barlow-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Barlow';
    src: url('/fonts/barlow/Barlow-ExtraLightItalic.woff2') format('woff2'),
      url('/fonts/barlow/Barlow-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Barlow';
    src: url('/fonts/barlow/Barlow-LightItalic.woff2') format('woff2'),
      url('/fonts/barlow/Barlow-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Barlow';
    src: url('/fonts/barlow/Barlow-MediumItalic.woff2') format('woff2'),
      url('/fonts/barlow/Barlow-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Barlow';
    src: url('/fonts/barlow/Barlow-Regular.woff2') format('woff2'),
      url('/fonts/barlow/Barlow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Barlow';
    src: url('/fonts/barlow/Barlow-SemiBold.woff2') format('woff2'),
      url('/fonts/barlow/Barlow-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Barlow';
    src: url('/fonts/barlow/Barlow-Thin.woff2') format('woff2'),
      url('/fonts/barlow/Barlow-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Barlow';
    src: url('/fonts/barlow/Barlow-ThinItalic.woff2') format('woff2'),
      url('/fonts/barlow/Barlow-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Barlow';
    src: url('/fonts/barlow/Barlow-SemiBoldItalic.woff2') format('woff2'),
      url('/fonts/barlow/Barlow-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Playwrite GB S';
    src: url('/fonts/playwriteGBS/PlaywriteGBS-Italic.woff2') format('woff2'),
      url('/fonts/playwriteGBS/PlaywriteGBS-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Playwrite GB S';
    src: url('/fonts/playwriteGBS/PlaywriteGBS-ExtraLight.woff2')
        format('woff2'),
      url('/fonts/playwriteGBS/PlaywriteGBS-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Playwrite GB S';
    src: url('/fonts/playwriteGBS/PlaywriteGBS-LightItalic.woff2')
        format('woff2'),
      url('/fonts/playwriteGBS/PlaywriteGBS-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Playwrite GB S';
    src: url('/fonts/playwriteGBS/PlaywriteGBS-ExtraLightItalic.woff2')
        format('woff2'),
      url('/fonts/playwriteGBS/PlaywriteGBS-ExtraLightItalic.woff')
        format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Playwrite GB S';
    src: url('/fonts/playwriteGBS/PlaywriteGBS-Light.woff2') format('woff2'),
      url('/fonts/playwriteGBS/PlaywriteGBS-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Playwrite GB S';
    src: url('/fonts/playwriteGBS/PlaywriteGBS-Regular.woff2') format('woff2'),
      url('/fonts/playwriteGBS/PlaywriteGBS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Playwrite GB S';
    src: url('/fonts/playwriteGBS/PlaywriteGBS-Thin.woff2') format('woff2'),
      url('/fonts/playwriteGBS/PlaywriteGBS-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Playwrite GB S';
    src: url('/fonts/playwriteGBS/PlaywriteGBS-ThinItalic.woff2')
        format('woff2'),
      url('/fonts/playwriteGBS/PlaywriteGBS-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Oxanium';
    src: url('/fonts/oxanium/Oxanium-ExtraBold.woff2') format('woff2'),
      url('/fonts/oxanium/Oxanium-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Oxanium';
    src: url('/fonts/oxanium/Oxanium-ExtraLight.woff2') format('woff2'),
      url('/fonts/oxanium/Oxanium-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Oxanium';
    src: url('/fonts/oxanium/Oxanium-Bold.woff2') format('woff2'),
      url('/fonts/oxanium/Oxanium-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Oxanium';
    src: url('/fonts/oxanium/Oxanium-Medium.woff2') format('woff2'),
      url('/fonts/oxanium/Oxanium-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Oxanium';
    src: url('/fonts/oxanium/Oxanium-Light.woff2') format('woff2'),
      url('/fonts/oxanium/Oxanium-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Oxanium';
    src: url('/fonts/oxanium/Oxanium-Regular.woff2') format('woff2'),
      url('/fonts/oxanium/Oxanium-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Oxanium';
    src: url('/fonts/oxanium/Oxanium-SemiBold.woff2') format('woff2'),
      url('/fonts/oxanium/Oxanium-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway/Raleway-BlackItalic.woff2') format('woff2'),
      url('/fonts/raleway/Raleway-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway/Raleway-Bold.woff2') format('woff2'),
      url('/fonts/raleway/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway/Raleway-Black.woff2') format('woff2'),
      url('/fonts/raleway/Raleway-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway/Raleway-ExtraLightItalic.woff2') format('woff2'),
      url('/fonts/raleway/Raleway-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway/Raleway-BoldItalic.woff2') format('woff2'),
      url('/fonts/raleway/Raleway-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway/Raleway-ExtraBold.woff2') format('woff2'),
      url('/fonts/raleway/Raleway-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway/Raleway-Italic.woff2') format('woff2'),
      url('/fonts/raleway/Raleway-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway/Raleway-ExtraBoldItalic.woff2') format('woff2'),
      url('/fonts/raleway/Raleway-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway/Raleway-ExtraLight.woff2') format('woff2'),
      url('/fonts/raleway/Raleway-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway/Raleway-MediumItalic.woff2') format('woff2'),
      url('/fonts/raleway/Raleway-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway/Raleway-Regular.woff2') format('woff2'),
      url('/fonts/raleway/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway/Raleway-Medium.woff2') format('woff2'),
      url('/fonts/raleway/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway/Raleway-Light.woff2') format('woff2'),
      url('/fonts/raleway/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway/Raleway-LightItalic.woff2') format('woff2'),
      url('/fonts/raleway/Raleway-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway/Raleway-SemiBoldItalic.woff2') format('woff2'),
      url('/fonts/raleway/Raleway-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway/Raleway-Thin.woff2') format('woff2'),
      url('/fonts/raleway/Raleway-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway/Raleway-SemiBold.woff2') format('woff2'),
      url('/fonts/raleway/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway/Raleway-ThinItalic.woff2') format('woff2'),
      url('/fonts/raleway/Raleway-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'MonoLisa';
    src: url('/fonts/monolisa/MonoLisa-BlackItalic.woff2') format('woff2'),
      url('/fonts/monolisa/MonoLisa-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'MonoLisaExtraLight';
    src: url('/fonts/monolisa/MonoLisa-ExtraLight.woff2') format('woff2'),
      url('/fonts/monolisa/MonoLisa-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'MonoLisaBold';
    src: url('/fonts/monolisa/MonoLisa-Bold.woff2') format('woff2'),
      url('/fonts/monolisa/MonoLisa-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'MonoLisa';
    src: url('/fonts/monolisa/MonoLisa-BoldItalic.woff2') format('woff2'),
      url('/fonts/monolisa/MonoLisa-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'MonoLisa';
    src: url('/fonts/monolisa/MonoLisa-ExtraLightItalic.woff2') format('woff2'),
      url('/fonts/monolisa/MonoLisa-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'MonoLisaBlack';
    src: url('/fonts/monolisa/MonoLisa-Black.woff2') format('woff2'),
      url('/fonts/monolisa/MonoLisa-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'MonoLisaItalic';
    src: url('/fonts/monolisa/MonoLisa-RegularItalic.woff2') format('woff2'),
      url('/fonts/monolisa/MonoLisa-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'MonoLisa';
    src: url('/fonts/monolisa/MonoLisa-Regular.woff2') format('woff2'),
      url('/fonts/monolisa/MonoLisa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'MonoLisaMedium';
    src: url('/fonts/monolisa/MonoLisa-Medium.woff2') format('woff2'),
      url('/fonts/monolisa/MonoLisa-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'MonoLisaLight';
    src: url('/fonts/monolisa/MonoLisa-Light.woff2') format('woff2'),
      url('/fonts/monolisa/MonoLisa-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'MonoLisa';
    src: url('/fonts/monolisa/MonoLisa-LightItalic.woff2') format('woff2'),
      url('/fonts/monolisa/MonoLisa-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'MonoLisa';
    src: url('/fonts/monolisa/MonoLisa-MediumItalic.woff2') format('woff2'),
      url('/fonts/monolisa/MonoLisa-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'MonoLisa';
    src: url('/fonts/monolisa/MonoLisa-ThinItalic.woff2') format('woff2'),
      url('/fonts/monolisa/MonoLisa-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'MonoLisaThin';
    src: url('/fonts/monolisa/MonoLisa-Thin.woff2') format('woff2'),
      url('/fonts/monolisa/MonoLisa-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  body {
    @apply bg-background text-foreground;
  }

  button:focus {
    --tw-ring-offset-shadow: none;
    --tw-ring-shadow: none;
    box-shadow: none !important;
    outline: none !important;
  }
}
